/* Global style start */

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

body {
    background-color: #000;
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
}

/* Media */ 

@media screen and (min-width: 1921px) and (max-width: 3840px){
    html {
        font-size: calc(26px + (54 - 26) * ((100vw - 1921px) / (3840 - 1921)));
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px){
    html {
        font-size: calc(20px + (26 - 20) * ((100vw - 1441px) / (1920 - 1441)));
    }
}

@media screen and (min-width: 1130px) and (max-width: 1440px){
    
    html {
        font-size: calc(16px + (20 - 16) * ((100vw - 1130px) / (1440 - 1130)));
    }
}

@media screen and (min-width: 800px) and (max-width: 1130px){
    
    html {
        font-size: calc(12px + (16 - 12) * ((100vw - 800px) / (1130 - 800)));
    }
}

/* Global style end */

/*header start*/

.header {
    background-color: transparent;
    width: calc((411 + 85) / 1440 * 100%);
    height: 6.6rem;
    padding-top: calc(23 / 10784 * 100%);
    padding-left: calc(100 / 1440 * 100%);
}

.header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__pic {
    height: 6.6rem;
}

.header__text {
    width: 4.8rem;
}

.header__link {
    text-decoration: none;
}

.header__login {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: calc(108 / (1440 - 85) * 100%);
}

.header__logpic {
    width: 1.3rem;
}

.header__loglink:link, .header__loglink:visited {
    display: block;
    height: 1.25rem;
    margin-left: 0.6rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.226;
    color: white;
    z-index: 5;
}

.header__loglink:hover, .header__loglink:active {
    color: yellow;
    z-index: 5;
}

/*header end*/

/*main start*/

.main {
    height: fit-content;
    width: 100%;
    position: relative;
    margin-bottom: 4.2835rem;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
}

.main__phone-container {
    position: absolute;
    top: calc(-130 / 845 * 100%);
    right: 0;
    padding-right: calc((184.12 - (611 - 332.88) * 0.5) / 1440 * 100%);
    padding-top: calc((150 - (957 - 667.8) / 2) / 10784 * 100%);
    width: calc(991 / 1440 * 100%);
    background: url(./css/background/purp-spot.svg) no-repeat top right;
    background-size: contain;
    text-align: right;
}

.main__phone-pic {
    width: calc(611 / 991 * 100%);
}

.main__slash-line-text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    padding-left: calc(100 / 1440 * 100%);
    width: calc(750 / 1440 * 100%);
    height: fit-content;
    padding-top: 7.15rem;
    margin-bottom: 13.35rem;
}

.main__header {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin-bottom: 4.4rem;
    white-space: nowrap;
}

.main__slash-text {
    display: block;
    margin-left: 5.25rem;
    width: calc(400 / 650 * 100%);
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.35rem;
    position: relative;
    white-space: nowrap;
}

.main__slash-text::before {
    content: '';
    position: absolute;
    top: -215%;
    right: 66%;
    background: url(./css/background/blue-spot.svg) no-repeat top 8% left 78%, url(./css/background/slash-line.svg) no-repeat center/3.75rem;
    width: 100%;
    height: 500%;
}

.main__links {
    width: 100%;
    padding-left: calc(100 / 1440 * 100%);
    padding-right: calc(163 / 1440 * 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__links-pics {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.main__links-pics-a {
    display: block;
    text-decoration: none;
    z-index: 5;
}

.main__links-pics-a:first-of-type {
    width: 8.3rem;
    height: 3rem;
    background: url(./css/AppStore.svg) no-repeat center;
    background-size: 8.2rem;
}

.main__links-pics-a:last-of-type {
    width: 9.65rem;
    height: 3rem;
    background: url(./css/GooglePlay.svg) no-repeat center top 0.2rem;
    background-size: 9.65rem;
}

.main__links-pics-a:first-child {
    margin-right: 1.3985rem;
}

.main__links-download:link, .main__links-download:visited  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 3.5rem;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.main__links-download:hover, .main__links-download:active  {
    color: yellow;
    z-index: 5;
}

/*main end*/

/* cookie start */

.cookie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(33, 40, 52, 1);
    height: 4.65rem;
    width: 100%;
    padding-left: calc(100 / 1440 * 100%);
    padding-right: calc(24 / 1440 * 100%);
}

.cookie__text {
    font-size: 0.7rem;
    line-height: 0.95rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
}

.cookie__btn {
    width: 6.6rem;
    height: 2.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: 0.025rem solid #FFFFFF;
    border-radius: 0.3rem;
    color: white;
}

.cookie__btn:hover, .cookie__btn:active {
    background: rgba(14, 12, 12, 0.1);
}

/* cookie end */

/* nav start */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15.6rem;
    width: 100%;
    padding-right: calc(177 / 1440 * 100%);
    padding-left: calc(176 / 1440 * 100%);
}

.nav__contacts {
    width: 25.15rem;
    height: 15.6rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    padding-top: 3.2rem;
    padding-left: 2.75rem;
    padding-right: 3.65rem;
    padding-bottom: 3.1rem;
}

.nav__p{
    font-family: 'Noto Sans';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.043rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.nav__a:link, .nav__a:visited{
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.65rem;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.nav__a:hover, .nav__a:active{
    color: yellow;
}

.nav__partner{
    width: 25.15rem;
    height: 15.6rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    padding-top: 4.85rem;
    padding-left: 2.793rem;
    padding-right: 6.161rem;
    padding-bottom: 4.7rem;
}

/* nav end */

/* mission start */

.mission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52.4rem;
    width: 100%;
}

.mission__phone-pic {
    width: calc(973 / 1440 * 100%);
    height: 45.7rem;
    background: url(./css/mission-phone-pic.svg) no-repeat center;
    background-size: 48.65rem;
}

.mission__text {
    width: calc(358 / 1440 * 100%);
    margin-right: 8.15rem;
    margin-left: -2rem;
    margin-top: -15%;
}

.mission__h {
    font-family: 'Montserrat';
    font-size: 2.55rem;
    font-weight: 700;
    line-height: 3.1rem;
    text-align: left;
    margin-bottom: 1.15rem;
    position: relative;
}

.mission__h::after {
    content: '';
    position: absolute;
    top: -70%;
    right: -28%;
    background: url(./css/background/mission-spot.svg) no-repeat;
    width: 100%;
    height: 220%;
    z-index: -1;
}

.mission__p{
    font-family: 'Noto Sans';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    white-space: nowrap;
}

.mission__brm {
    display: none;
}

.mission__brpc {
    display: inline;
}

/* mission end */

/* idScaner start */

.idScaner {
    height: 55.7rem;
    width: 100%;
    background: url(./css/background/id-scaner-pic.svg) no-repeat,
    url(./css/background/id-scaner-pic1.svg) no-repeat top;
    background-size: 100%, 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: calc(50 / 1440 * 100%);
    padding-top: 22.35rem;
}

.idScaner__pic:first-of-type {
    width: calc(333 / 1440 * 100%);
    height: 33.4rem;
    background: url(./css/id-scaner-phone1.svg) no-repeat center;
    background-size: contain;
}

.idScaner__pic:last-of-type {
    width: calc(333 / 1440 * 100%);
    height: 33.4rem;
    background: url(./css/id-scaner-phone2.svg) no-repeat center;
    background-size: contain;
}

.idScaner__text {
    position: absolute;
    top: calc(854 / 1137 * 100%);
    left: calc(943 / 1440 * 100%);
}

.idScaner__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;
}

.idScaner__p {
    display: block;
    height: 6.25rem;    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.idScaner__brpc {
    display: inline;
}

.idScaner__brm {
    display: none;
}

.idScaner__pic {
    margin-left: calc(50 / 1440 * 100%);
}

.idScaner:first-child {
    margin-left: calc(50 / 1440 * 100%);
}

/* idScaner end */

/* BITool start */

.BITool {
    height: 46.65rem;
    width: 100%;
    padding-top: 10.25rem;
    padding-left: calc(100 / 1440 * 100%);
    padding-right: calc(114.87 / 1440 * 100%);
    position: relative;
    background: url(//css/background/spot-BITool.svg) no-repeat;
    background-position: top 5.05rem left 0;
}

.BITool__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;
    margin-bottom: 1.15rem;
    margin-top: 4.3rem; 
    margin-right: calc(25 / 1440 * 100%);
}

.BITool__p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.BITool__graph:nth-last-of-type(7) {
    position: absolute;
    top: calc(202 / 933 * 100%);
    right: calc(253.49 / 1440 * 100%);
    width: calc(253 / 1440 * 100%);
}

.BITool__graph:nth-last-of-type(6) {
    position: absolute;
    top: calc((202 + 33.95 + 150.05) / 933 * 100%);
    right: calc(452.76 / 1440 * 100%);
    width: calc(234 / 1440 * 100%);
}

.BITool__graph:nth-last-of-type(5) {
    position: absolute;
    top: calc(384.49 / 933 * 100%);
    right: calc(199.15 / 1440 * 100%);
    width: calc(183 / 1440 * 100%);
}

.BITool__graph:nth-last-of-type(4) {
    position: absolute;
    top: calc(451.81 / 933 * 100%);
    right: calc(625.78 / 1440 * 100%);
    width: calc(193 / 1440 * 100%);
}

.BITool__graph:nth-last-of-type(3) {
    position: absolute;
    top: calc(494.8 / 933 * 100%);
    right: calc(369.48 / 1440 * 100%);
    z-index: 2;
    width: calc(195 / 1440 * 100%);
}

.BITool__graph:nth-last-of-type(2) {
    position: absolute;
    top: calc(595.37 / 933 * 100%);
    right: calc(442.47 / 1440 * 100%);
    z-index: 1;
    width: calc(195 / 1440 * 100%);
}

.BITool__graph:last-of-type {
    position: absolute;
    top: calc(668 / 933 * 100%);
    right: calc(114.87 / 1440 * 100%);
    width: calc(282 / 1440 * 100%);
}

/* BITool end */

/* QRcode start */

.QRcode {
    position: relative;
    width: 100%;
    height: 56.15rem;
    padding-top: 26.85rem;
    padding-left: calc(181 / 1440 * 100%);
    background: url(./css/background/QR-gradient.svg) no-repeat top, url(./css/background/QR-bg1.svg) no-repeat top left, url(./css/background/QR-bg2.svg) no-repeat top right;
    background-size: 100vw, 38.9rem, 32.55rem;
}

.QRcode__logo{
    position: absolute;
    top: -0.85rem;
    right: 4.7rem;
    width: calc(134 / 1440 * 100%);
}

.QRcode__h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;
}

.QRcode__p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-bottom: 2.9rem;
}

.QRcode__links-pics {
    width: 18.8rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 1.025rem;
}

.QRcode__links-pics-a {
    display: block;
    text-decoration: none;
    z-index: 5;
}

.QRcode__links-pics-a:first-of-type {
    width: 8.5rem;
    height: 3rem;
    background: url(./css/AppStore.svg) no-repeat center;
    background-size: 8.2rem;
}

.QRcode__links-pics-a:last-of-type {
    width: 9.65rem;
    height: 3rem;
    background: url(./css/GooglePlay.svg) no-repeat center top 0.2rem;
    background-size: 9.65rem;
}

.QRcode__links-pics-a:first-child {
    margin-right: 1.3985rem;
}

.QRcode__phone:nth-last-of-type(2) {
    position: absolute;
    top: 11rem;
    left: calc(638 / 1440 * 100%);
    width: calc(333 / 1440 * 100%);
}

.QRcode__phone:last-of-type {
    position: absolute;
    top: 28.05rem;
    left: calc(1051 / 1440 * 100%);
    width: calc(333 / 1440 * 100%);
}

/* QRcode end */

/* QRgen start */ 

.QRgen {
    position: relative;
    width: 100%;
    height: 60.5rem;
    padding-top: 44.7rem;
    background: url(./css/background/QRgen-gradient.svg) no-repeat center, url(./css/background/QRgen-bg.svg) no-repeat center;
}

.QRgen__phone {
    position: absolute;
    top: 7.35rem;
    left: calc(563 / 1440 * 100%);
    width: calc(333 / 1440 * 100%);
}

.QRgen__pointerP {
    position: absolute;
    top: 21.55rem;
    left: calc(1025 / 1440 * 100%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.3rem;
}

.QRgen__pointerP::after {
    content: '';
    display: block;
    width: 4.05rem;
    height: 3.5rem;
    background: url(./css/background/QRgen-pointer.svg) no-repeat top;
    background-size: contain;
    position: relative;
    top: -5.5375rem;
    left: -4.05rem;
}

.QRgen__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(100 / 1440 * 100%);
    padding-right: calc(100 / 1440 * 100%);
}

.QRgen__h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;
    width: 19.05rem;
}

.QRgen__p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
}
/* QRgen end */ 

/* Ordering start */

.Ordering {
    width: 100%;
    height: 57rem;
    position: relative;
    background: url(./css/background/Ordering-spot.svg) no-repeat top right;
}

.Ordering__h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;   
    margin-bottom: 1.15rem; 
    margin-left: calc(859 / 1440 * 100%);
}

.Ordering__description {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-left: calc(859 / 1440 * 100%);
}

.Ordering__phone {
    padding-left: calc(311 / 1440 * 100%);
    margin-bottom: -3.5105rem;
    width: calc((311 + 868) / 1440 * 100%);
}

.Ordering__textbox {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.35rem;
    border: 0.038rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.912rem;
    background-color: #000;
}

.Ordering__textbox:nth-last-of-type(4) {
    width: 13.7rem;
    height: 5rem;
    position: absolute;
    top: 18.8rem;
    left: calc(786 / 1440 * 100%);
    padding-top: 1.15rem;
    padding-left: 1.1rem;
}

.Ordering__textbox:nth-last-of-type(3) {
    width: 14.25rem;
    height: 5.65rem;
    position: absolute;
    top: 26.55rem;
    left: calc(287 / 1440 * 100%);
    padding-top: 1.5rem;
    padding-left: 1.3rem;
}

.Ordering__textbox:nth-last-of-type(2) {
    width: 9.5rem;
    height: 4.55rem;
    position: absolute;
    top: 40.55rem;
    left: calc(1006 / 1440 * 100%);
    padding-top: 0.95rem;
    padding-left: 1.15rem;
}

.Ordering__textbox:last-of-type {
    width: 8.78rem;
    height: 3.27rem;
    position: absolute;
    top: 45.1rem;
    left: calc(509 / 1440 * 100%);
    padding-top: 0.95rem;
    padding-left: 1.25rem;
}

/* Ordering end */

/* NoTabPic start */

.NoTabPic {
    height: 55.3rem;
    width: 100%;
    background: url(./css/NoTabPic-phone-2.svg) no-repeat top 20.208rem left 19.2rem,
    url(./css/NoTabPic-phone-1.svg) no-repeat top 18.95rem left 14.503rem,     
    url(./css/background/NoTabPic-bg.svg) no-repeat top;
    background-size: 33.773rem, 42.947rem, cover;
    position: relative;
}

/* NoTabPic end */

/* RegForm start */
.RegForm {
    width: 100%;
    height: 73.5rem;
    background: url(./css/background/RegForm-spot2.svg) no-repeat top 110% right, transparent;
    margin-top: calc(40 / 10784 * 100%);
}

.RegForm__h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 3.1rem;
    text-align: center;
    margin-bottom: 1.15rem;
    position: relative;
}

.RegForm__h2::before {
    content: '';
    background: url(./css/background/RegForm-spot1.svg) no-repeat;
    width: calc(772 / 1440 * 100%);
    height: 38.75rem;
    position: absolute;
    top: -550%;
    left: 6%;
    z-index: -1;
}

.RegForm__p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-align: center;
    margin-bottom: 4.1rem;
    z-index: 2;
    white-space: nowrap;
}

.RegForm__brpc {
    display: inline;
}

.RegForm__brm {
    display: none;
}

.RegForm__form {
    width: calc(818 / 1440 * 100%);
    height: 43.45rem;
    margin-left: calc(311 / 1440 * 100%);
    margin-bottom: 4.55rem;
    text-align: center;
}

.RegForm__input {
    margin-bottom: 1.15rem;
    padding-left: 1.15rem;
    height: 4.15rem;
    width: 100%;
    background: #FFFFFF;
    border: 0.05rem solid #5C5C5C;
    border-radius: 0.5rem;
    z-index: 50;
}

.RegForm__input::placeholder {
    color: #BFBFBF;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.RegForm__input:focus {
    border-color: rgb(93, 232, 250);
    border-width: 0.1rem;
}

textarea.RegForm__input {
    padding-top: 1.3rem;
    height: 9.95rem;
    margin-bottom: 3rem;
}

.RegForm__cities {
    display: flex;
    justify-content: space-between;
}

.RegForm__cities .RegForm__input:first-child,  .RegForm__cities .RegForm__input:last-child {
    width: calc(397 / 818 * 100%);
    z-index: 20;
}

.RegForm__btn {
    background: transparent;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.45rem;
    width: calc(398 / 818 * 100%);
    height: 4rem;
    border: 0.05rem solid rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
}

.RegForm__btn:hover, .RegForm__btn:active {
    background: rgb(25, 5, 32);
}

.RegForm__h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.65rem;
    text-align: center;
    margin-bottom: 1.6365rem;
}

.RegForm__links-pics {
    width: 30.5065rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-left: calc(415 / 1440 * 100%);
}

.RegForm__links-pics-a {
    display: block;
    text-decoration: none;
    z-index: 5;
}

.RegForm__links-pics-a:first-of-type {
    width: 13rem;
    height: 4.1rem;
    background: url(./css/AppStore-RegForm.svg) no-repeat center;
    background-size: 12.95rem;
}

.RegForm__links-pics-a:last-of-type {
    width: 14.65rem;
    height: 4.1rem;
    background: url(./css/GooglePlay-RegForm.svg) no-repeat center;
    background-size: 14.65rem;
}

.RegForm__links-pics-a:first-child {
    margin-right: 2.9535rem;
}

/* RegForm end */

/* RegForm inputs - error start*/

.error {
    border-color: red;
    border-width: 0.1rem;
}

/* RegForm inputs - error end*/

/* footer start */

.footer {
    height: 22.4135rem;
    width: 100%;
    padding-left: calc(100 / 1440 * 100%);
    padding-right: calc(100 / 1440 * 100%);
    padding-top: 11.5635rem;
    margin-top: -4.0635rem;
    display: flex;
    justify-content: space-between;
    background: url(./css/background/Footer-spot.svg) no-repeat top 70% left;
}

.footer__logo {
    margin-bottom: 0.7925rem;
}

.footer__contacts {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-bottom: 0.9575rem;
}

.footer_br {
    display: inline;
}

.footer-email:link, .footer-email:visited {
    text-decoration: none;
    color: white;
    z-index: 5;
}

.footer-email:hover, .footer-email:active {
    text-decoration: none;
    color: yellow;
    z-index: 5;
}

.footer__copyrights {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.footer__a:link, .footer__a:visited {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.25rem;
    z-index: 5;
}

.footer__a:hover, .footer__a:active {
    text-decoration: none;
    color: yellow;
    z-index: 5;
}
/* footer end */

/* ---------- Mobile version ----------- */

@media screen and (min-width: 300px) and (max-width: 800px) {

    html {
        font-size: calc(12.36px + (36.61 - 12.36) * ((100vw - 300px) / (800 - 300)));
        /* width: 375px -- font-size: 16px */
    }

    .wrapper{
        width: 100vw;
        margin: 0 auto;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        overflow: hidden;
    }

    /* m header start*/

    .header {
        height: 5.79rem;
        width: 100%;
        padding-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
    }

    .header__link:first-of-type {
        margin-right: 0.24rem;
    }

    .header__pic {
        width: 3.25rem;
    }

    .header__text {
        width: 2.9rem;
    }

    .header__logpic {
        visibility: hidden;
    }

    .header__loglink:link, .header__loglink:visited {
        display: block;
        height: 1.5625rem;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        color: white;
        text-decoration: none;
        border-bottom: 0.0625rem solid white;
        z-index: 5;
    }
    
    .header__loglink:hover, .header__loglink:active {
        color: yellow;
        text-decoration: none;
        border-bottom: 0.0625rem solid yellow;
        z-index: 5;
    }

    /* m header end*/

    /* m main start*/
    .main {
        height: fit-content;
        width: 100%;
    }

    .main__wrapper {
        width: 100%;
        height: 27.69rem;
        display: flex;
        justify-content: space-between;   
    }

    .main__slash-line-text {
        position: relative;
        top: 6.144375rem;
        width: 15rem;
        padding: 0;
    }

    .main__header {
        font-weight: 700;
        font-size: 2.1875rem;
        line-height: 2.5rem;
        width: 13rem;
        margin-bottom: 1.5rem;
        white-space: normal;
    }

    .main__slash-text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        margin: 0;
        width: 15rem;
        white-space: normal;
        position: relative;
    }

    .main__slash-text br {
        display: none;
    }

    .main__slash-text::before {
        content: '';
        position: absolute;
        top: -160%;
        left: -38%;
        width: 20rem;
        height: 20rem;
        background: url(./css/background/m_main_bluespot-bg.svg) no-repeat center;
    }

    .main__phone-container {
        width: fit-content;
        height: fit-content;
        position: relative;
        top: -0.3rem;
    }

    .main__phone-pic {
        width: 18.5rem;
        position: absolute;
        right: -8.656rem;
    }

    .main__phone-container::after {
        content: '';
        position: absolute;
        right: -1.2rem;
        top: -5.79rem;
        width: 23.4375rem;
        height: 40rem;
        background: url(./css/background/m_main_purpspot-bg.svg) no-repeat top right/23.4375rem;
        z-index: -2;
    }

    .main__links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 12.9375rem;
        margin-bottom: 4.375rem;
    }

    .main__links-download {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8125rem;
        white-space: nowrap;
        margin-bottom: 3.9375rem;
    }

    .main__links-pics {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .main__links-pics-a:first-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_appstore.svg) no-repeat center;
        background-size: contain;
    }
    
    .main__links-pics-a:last-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_googleplay.svg) no-repeat center;
        background-size: contain;
    }

    .main__links-pics-a:first-child {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    /* m Cookie start */ 
    
    .cookie {
        height: 5.8125rem;
        width: 100vw;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
    }

    .cookie__text {
        font-size: 0.75rem;
        line-height: 1rem;
        width: 12.125rem;
    }
    
    .cookie__btn {
        width: 5.75rem;
        height: 3.125rem;
    }

    /* m Cookie end */
    
    /* m nav start */

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 26.875rem;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .nav__contacts {
        width: 100%;
        height: 14.5625rem;
        border: 0.125rem solid rgba(255, 255, 255, 0.5);
        padding-top: 2.4375rem;
        padding-left: 2.0625rem;
        padding-right: 3.375rem;
        padding-bottom: 2.5rem;
    }

    .nav__p{
        font-size: 1.5rem;
        line-height: 2.0625rem;
        margin-bottom: 1.875rem;
        white-space: nowrap;
    }

    .nav__a:link, .nav__a:visited{
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5625;
    }

    .nav__partner{
        width: 100%;
        height: 10.4375rem;
        border: 0.125rem solid rgba(255, 255, 255, 0.5);
        padding-top: 2.4375rem;
        padding-left: 2.0625rem;
        padding-right: 5.5625rem;
        padding-bottom: 1.875rem;
        white-space: nowrap;
    }

    /* m nav end */

    /* m mission start */

    .mission{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 56.1875rem;
        width: 100%;
    }

    .mission__phone-pic {
        width: 19.8125rem;
        height: 31rem;
        background: url(./css/background/m_mission_and_vision-phone.svg) no-repeat center;
        background-size: 19.8125rem;
        margin-top: -0.3125rem;
    }

    .mission__text {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .mission__h { 
        font-size: 1.5rem;
        line-height: 1.8125rem;
        margin-bottom: 1.5rem;
        margin-top: 6.875rem;
        position: relative;
    }

    .mission__h::before {
        content: '';
        position: absolute;
        top: -360%;
        left: -0.9375rem;
        background: url(./css/background/m_mission-spot.svg) no-repeat left;
        width: 100%;
        height: 800%;
        z-index: -1;
    }

    .mission__h::after {
        content: '';
        display: none;
    }

    .mission__p {
        font-size: 1rem;
        line-height: 1.375rem;
        width: 19.6875rem;
        white-space: nowrap;
    }

    .mission__brm {
        display: inline;
    }

    .mission__brpc {
        display: none;
    }

    /* m mission end */

    /* m idScaner start */

    .idScaner {
        height: 111.8125rem;
        width: calc(100% + 2 * 0.9375rem);
        background: url(./css/background/id-scaner-pic.svg) no-repeat top,
        url(./css/background/id-scaner-pic1.svg) no-repeat top;
        background-size: 28.5625rem, 28.5625rem;
        flex-direction: column-reverse;
        position: static;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-top: 14.1875rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    .idScaner__pic:first-of-type {
        width: 17.9375rem;
        min-height: 36rem;
        background: url(./css/id-scaner-phone2.svg) no-repeat center;
        background-size: contain;
        margin-bottom: 9rem;
    }
    
    .idScaner__pic:last-of-type {
        width: 17.9375rem;
        min-height: 36rem;
        background: url(./css/id-scaner-phone1.svg) no-repeat center;
        background-size: contain;
        margin-bottom: 3.4375rem;
    }

    .idScaner__text {
        position: static;
        width: 100%;
    }
    
    .idScaner__h {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        margin-bottom: 1.5rem;
    }
    
    .idScaner__p {
        height: 5.5rem;
        font-size: 1rem;
        line-height: 1.375rem;
        margin-bottom: 4.375rem;
        white-space: nowrap;
    }

    .idScaner__brpc {
        display: none;
    }
    
    .idScaner__brm {
        display: inline;
    }

    .idScaner__pic {
        margin-left: 0;
    }

    .idScaner:first-child {
        margin-left: 0;
    }

    /* m idScaner end */

    /* m BITool start */

    .BITool {
        height: 28.25rem;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        background: transparent;
    }

    .BITool__h {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        margin-bottom: 1.5rem;
        margin-top: 0; 
        margin-right: 0;
    }

    .BITool__p {
        font-size: 1rem;
        line-height: 1.375rem;
        white-space: nowrap;
    }

    .BITool__graph:nth-last-of-type(7) {
        position: absolute;
        top: calc(300 / 452 * 100%);
        right: calc(260.43 / (375 - 15) * 100%);
        width: calc(144.57 / (375 - 30) * 100%);
    }
    
    .BITool__graph:nth-last-of-type(6) {
        position: absolute;
        top: calc(224 / 452 * 100%);
        right: calc(229.57 / (375 - 15) * 100%);
        width: calc(109.43 / (375 - 30) * 100%);
    }
    
    .BITool__graph:nth-last-of-type(5) {
        position: absolute;
        top: calc(171 / 452 * 100%);
        right: calc(10.38 / (375 - 15) * 100%);
        width: calc(85.62 / (375 - 30) * 100%);
    }
    
    .BITool__graph:nth-last-of-type(4) {
        display: none;
    }
    
    .BITool__graph:nth-last-of-type(3) {
        position: absolute;
        top: calc(207 / 452 * 100%);
        right: calc(91.05 / (375 - 15) * 100%);
        width: calc(90.95 / (375 - 30) * 100%);
    }
    
    .BITool__graph:nth-last-of-type(2) {
        position: absolute;
        top: calc(267 / 452 * 100%);
        right: calc(150.05 / (375 - 15) * 100%);
        width: calc(90.95 / (375 - 30) * 100%);
    }
    
    .BITool__graph:last-of-type {
        position: absolute;
        top: calc(358 / 452 * 100%);
        left: calc(163 / (375 - 15) * 100%);
        width: calc(296 / (375 - 30) * 100%);
    }
    
    /* m BITool end */

    /* m QRcode start */    

    .QRcode {
        position: relative;
        width: calc(100% + 2 * 0.9375rem);
        height: 131.875rem;
        padding-top: 14.1875rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        background: url(./css/background/m_QRcode-gradient.svg) no-repeat top, 
        url(./css/background/QR-bg1.svg) no-repeat top, 
        url(./css/background/QR-bg2.svg) no-repeat top 37.25rem left 3.9375rem;
        background-size: 26rem 20.9375rem, 26rem 20.9375rem, 22rem 18.5625rem;
    }

    .QRcode__logo{
        position: absolute;
        top: 44.375rem;
        left: 2.0625rem;
        width: calc(93.94 / 375 * 100%);
    }

    .QRcode__h2 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        margin-bottom: 1.5rem;
    }

    .QRcode__p {
        font-size: 1rem;
        line-height: 1.375rem;
        margin-bottom: 3.125rem;
    }

    .QRcode__links-pics {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0;
    }

    .QRcode__links-pics-a:first-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_appstore.svg) no-repeat center;
        background-size: contain;
    }
    
    .QRcode__links-pics-a:last-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_googleplay.svg) no-repeat center;
        background-size: contain;
    }

    .QRcode__links-pics-a:first-child {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .QRcode__phone:nth-last-of-type(2) {
        position: absolute;
        top: 50.125rem;
        left: calc(47.02 / 375 * 100%);
        width: calc(280.98 / 375 * 100%);
    }
    
    .QRcode__phone:last-of-type {
        position: absolute;
        top: 88.48rem;
        left: calc(47.02 / 375 * 100%);
        width: calc(280.98 / 375 * 100%);
    }

    /* m QRcode end */

    /* m QRgen start */

    .QRgen {
        position: relative;
        width: calc(100% + 2 * 0.9375rem);
        height: 45.8125rem;
        padding-top: 0;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        background: url(./css/background/m_QRgen-gradient.svg) no-repeat top 13.6875rem, url(./background/m_QRgen-bg.svg) no-repeat top 18.25rem;
        background-size: 23.4375rem, 23.4375rem;
    }

    .QRgen__phone {
        position: absolute;
        top: 10.4375rem;
        left: 6.075625rem;
        width: 11.34875rem;
    }

    .QRgen__pointerP {
        position: absolute;
        top: 37.1875rem;
        left: 13.0625rem;
        font-size: 1.125rem;
        line-height: 1.375rem;
        white-space: nowrap;
    }

    .QRgen__pointerP::after {
        content: '';
        display: block;
        width: 2.125rem;
        height: 6.375rem;
        background: url(./css/background/m_QRgen-pointer.svg) no-repeat top;
        background-size: contain;
        position: relative;
        top: -8.695rem;
        left: 6.1875rem;
    }

    .QRgen__text {
        display: inline;
        padding-left: 0;
        padding-right: 0;
    }

    .QRgen__h2 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .QRgen__p {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    /* m QRgen end */ 

    /* m Ordering start */

    .Ordering {
        width: calc(100% + 2 * 0.9375rem);
        height: 45.6875rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        position: relative;
        background: url(./css/background/m_Ordering-spotbg.svg) no-repeat top right;
    }

    .Ordering__h2 {
        font-size: 1.5rem;
        line-height: 1.8125rem;   
        margin-bottom: 1.5rem; 
        margin-left: 0;
    }

    .Ordering__description {
        font-size: 1rem;
        line-height: 1.375rem;
        margin-left: 0;
        margin-bottom: 9.0625rem;
    }

    .Ordering__phone {
        padding-left: 0;
        margin-bottom: 0;
        margin-left: calc(-0.9375rem - 0.4375rem);
        margin-right: calc(1.375rem - 0.9375rem);
        width: 22.3125rem;
    }

    .Ordering__textbox {
        font-size: 0.875rem;
        line-height: 1rem;
        border: 0.00475rem solid rgba(255, 255, 255, 0.5);
        border-radius: 0.625rem;
        background-color: #000;
    }

    .Ordering__textbox:nth-last-of-type(4) {
        width: 10.3125rem;
        height: 3.5625rem;
        position: absolute;
        top: 11.1875rem;
        left: calc(39 / 375 * 100%);
        padding-top: 0.8125rem;
        padding-left: 0.9375rem;
    }

    .Ordering__textbox:nth-last-of-type(3) {
        width: 10.6875rem;
        height: 3.875rem;
        position: absolute;
        top: 16.75rem;
        left: calc(189 / 375 * 100%);
        padding-top: 0.9375rem;
        padding-left: 1.125rem;
    }

    .Ordering__textbox:nth-last-of-type(2) {
        width: 7.625rem;
        height: 3.625rem;
        position: absolute;
        top: 42.0625rem;
        left: calc(238 / 375 * 100%);
        padding-top: 0.8125rem;
        padding-left: 1.1875rem;
    }

    .Ordering__textbox:last-of-type {
        width: 6.6875rem;
        height: 2.6875rem;
        position: absolute;
        top: 36.875rem;
        left: calc(30 / 375 * 100%);
        padding-top: 0.875rem;
        padding-left: 0.9375rem;
    }

    /* m Ordering end */

    /* m NoTabPic start */

    .NoTabPic {
        display: none;
    }

    /* m NoTabPic end */

    /* m RegForm start */

    .RegForm {
        width: calc(100% + 2 * 0.9375rem);
        height: 82.5625rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        background: transparent;
        margin-top: 0;
        padding-top: 5.9375rem;
    }

    .RegForm__h2 {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8125rem;
        text-align: center;
        margin-bottom: 1.5rem;
        position: relative;
    }

    .RegForm__h2::before {
        content: '';
        background: url(./css/background/m_RegForm-bgspot1.svg) no-repeat;
        width: 23.4375rem;
        height: 48.4375rem;
        position: absolute;
        top: -1000%;
        left: -0.9375rem;
        z-index: -1;
    }

    .RegForm__p {
        font-size: 1rem;
        line-height: 1.375rem;
        text-align: center;
        margin-bottom: 3.0625rem;
        z-index: 2;
    }

    .RegForm__brpc {
        display: none;
    }
    
    .RegForm__brm {
        display: inline;
    }

    .RegForm__form {
        width: 100%;
        height: 43.625rem;
        margin-left: 0;
        margin-bottom: 4.55rem;
    }

    .RegForm__input {
        margin-bottom: 1rem;
        padding-left: 0.6875rem;
        height: 3.5625rem;
        width: 100%;
        background: #FFFFFF;
        border: 0.0625rem solid #5C5C5C;
        border-radius: 0.625rem;
    }

    .RegForm__input::placeholder {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    textarea.RegForm__input {
        padding-top: 1.125rem;
        height: 8.75rem;
        margin-bottom: 2.5rem;
    }

    .RegForm__cities {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .RegForm__cities .RegForm__input:first-child,  .RegForm__cities .RegForm__input:last-child {
        width: 100%;
    }

    .RegForm__btn {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        width: 100%;
        height: 5rem;
        border: 0.0625rem solid rgba(255, 255, 255, 1);
        border-radius: 0.625rem;
    }

    .RegForm__h3 {
        font-size: 1.5rem;
        line-height: 2.0625rem;
        margin-bottom: 2.8125rem;
    }

    .RegForm__links-pics {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .RegForm__links-pics-a:first-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_appstore.svg) no-repeat center;
        background-size: contain;
    }
    
    .RegForm__links-pics-a:last-of-type {
        width: 11.5625rem;
        height: 3.75rem;
        background: url(./css/background/m_googleplay.svg) no-repeat center;
        background-size: contain;
    }

    .RegForm__links-pics-a:first-child {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    /* m RegForm end */

    /* m footer start */

    .footer {
        height: 18rem;
        width: 100%;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        padding-top: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        background: url(./css/background/m_footer-spotbg.svg) no-repeat bottom left;
    }

    .footer__logo {
        margin-bottom: 1.0525rem;
    }

    .footer__contacts {
        font-size: 0.875rem;
        line-height: 1.1875rem;
        margin-bottom: 0.5625rem;
        white-space: nowrap;
    }
    
    .footer_br {
        display: none;
    }

    .footer__copyrights {
        font-size: 0.875rem;
        line-height: 1.1875rem;
    }

    .footer__a:link, .footer__a:visited {
        font-size: 1.125rem;
        line-height: 1.5625rem;
        margin-bottom: 0;
    }

    .footer__a:first-of-type {
        margin-bottom: 0.875rem;
    }

    .footer__a:last-of-type {
        margin-bottom: 3.625rem;
    }

}

